.search-box{
    height: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    width: 100%;
    outline: none;
    padding: 0 32px;
}
.search-box-container{
    position: relative;
    margin-bottom: 12px;
}
.search-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}