.news-item-container{
    height: 160px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    padding: 24px;
    width: 100%;
    margin-bottom: 12px;
}
.news-text{
    width: 72%;
}
.news-header{
    color: #212121;
    font-size: 20px;
    margin-bottom: 4px;
}
.news-meta{
    font-size: 14px;
    color: #989898;
    margin-bottom: 8px;
}
.news-content{
    color: #393939;
}

.news-image{
    border-radius: 8px;
    height: 160px;
    width: 25%;
    float: right;
    object-fit: cover;
}