.news-item-container{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    padding: 24px;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.news-header{
    color: #212121;
    font-size: 20px;
    margin-bottom: 4px;
}
.news-meta{
    font-size: 14px;
    color: #989898;
    margin-bottom: 8px;
}
.news-content{
    color: #393939;
}

.news-image{
    border-radius: 8px;
    width: 25%;
    object-fit: cover;
    margin-left: 4px;
}
.info_text{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .news-item-container{
        flex-direction: column;
    }
    .news-image{
        width: 100%;
        margin: 4px 0;
    }
}